body{
    margin: 0;
}

.pembagian_ukuran{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 70%;
}

.photo_me{
    width: 240px;
    height: 280px;
    margin-top: 10px;
    border: 2px solid #333;
}

.deskripsi{
    text-align: left;
    margin-top: -15px;
    margin-left: 20%;
}

.text{
    font-size: 18px;
    text-align: left;
}

.pembagian_ukuran2{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3,33%);
}

.pembagian_ukuran3{
    display: grid;
    padding-top:17px;
    padding-left: 30px;
    grid-template-columns: repeat(2, auto);
}